.modalOverlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox {
    display: block;
    background: white;
    width: 50%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #242424;
    border: 2px solid #ff4500;
}

.modalBox p {
    color: rgb(255, 255, 255);
}

@media (max-width: 640px) {
    .modalBox {
        height: 450px;
        width: 250px;
        overflow: auto;
    }
}
