@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animeCard {
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    width: 270px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.6s ease forwards;
}

.animeCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.animeCard img {
    width: 100%;
    height: 420px;
    border-bottom: 2px solid var(--main-color);
}

.animeCard h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 15px 0;
}

.animeCard p {
    font-size: 1rem;
    color: #b0b0b0;
}

.animeCard button {
    padding: 8px 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    width: 150px;
}

.animeCard button:hover {
    transition: background-color 0.3 ease;
    background-color: #ff4500;
}

.animeCard span {
    cursor: pointer;
    color: #ff4500;
    font-size: smaller;
}
