.animeList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
}

p {
    text-align: center;
}

@media (max-width: 640px) {
    .anime-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
